<h1>Editing lobby</h1>

<%= render "form", lobby: @lobby %>

<br>

<div>
  <%= link_to "Show this lobby", @lobby %> |
  <%= link_to "Show tiles", lobby_tiles_path(@lobby) %> |
  <%= button_to "Destroy this lobby", @lobby, method: :delete %>
</div>
