<p style="color: green"><%= notice %></p>

<ul id="lobbies">
  <% @lobbies.each do |lobby| %>
    <li class="lobby">
      <%= render lobby do %>
        <%= button_to "Join", lobby, method: :get %>
    <% end %>
    </li>
  <% end %>
</ul>

<%= button_to "New lobby", new_lobby_path, method: :get, form: { style: "margin-top: 1rem;" } %>
