<% if notice %><p style="color: green"><%= notice %></p><% end %>

<ul id="lobbies">
  <% @lobbies.each do |lobby| %>
    <li class="lobby">
      <%= render lobby do %>
        <%= button_to "Join", lobby, method: :get %>
    <% end %>
    </li>
  <% end %>
  <li class="lobby">
    <%= link_to "+ New lobby", new_lobby_path %>
  </li>
</ul>
