<h1>Editing tile</h1>

<%= render "form", tile: @tile %>

<br>

<div>
  <%= link_to "Back to edit lobby", edit_lobby_path(@lobby) %>
  <%= button_to "Destroy this tile", [@lobby, @tile], method: :delete %>
</div>
