<div id="<%= dom_id card %>">
  <p>
    <strong>Lobby:</strong>
    <%= card.lobby_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <%= render "tiles", tiles: card.tiles %>
</div>
