<div id="<%= dom_id card %>">
  <p>
    <strong>Lobby:</strong>
    <%= card.lobby.title %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= card.title %>
  </p>

  <%= render "tiles", tiles: card.tiles %>
</div>
