<div class="player">
  <%= card.title %>
  <%= button_to "Edit", edit_lobby_card_path(@lobby, @card), method: :get %>
  <%= button_to "Exit", lobby_path(@lobby), method: :get %>
</div>

<%= render "tiles", card: card %>
