<div id="card">
  <div>B</div>
  <div>I</div>
  <div>N</div>
  <div>G</div>
  <div>O</div>
  <% tiles.each.with_index do |tile, index| %>
    <div class="tile">
      <%= tile.body %>
    </div>
  <% end %>
</div>
