<div id="card">
  <div>B</div>
  <div>I</div>
  <div>N</div>
  <div>G</div>
  <div>O</div>
  <% if card.persisted? %>
    <% card.card_tiles.each.with_index do |card_tile| %>
      <%= button_to [@lobby, card, card_tile.tile], class: ["tile", card_tile.marked && "marked"], method: :patch, params: { tile: { marked: !card_tile.marked } } do %>
        <%= card_tile.tile.body %>
      <% end %>
    <% end %>
  <% else %>
    <% card.tiles.each.with_index do |tile| %>
      <div class="tile">
        <%= tile.body %>
      </div>
    <% end %>
  <% end %>
</div>
