/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  align-items: center;
  border-style: none none double none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

h2 {
  margin: 0;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.notice {
  background-color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  color: green;
  position: fixed;
  padding: 0.5rem;
  right: 1rem;
  animation: 5s ease-in forwards fade;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#lobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.lobby {
  align-items: center;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 0.5rem;
  column-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  padding: 0.5rem;
  width: fit-content;
}

#players {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.player {
  align-items: center;
  background-color: lavenderblush;
  border: 1px solid black;
  border-radius: 0.5rem;
  column-gap: 1rem;
  display: inline-grid;
  grid-auto-flow: column;
  padding: 0.75rem;
  width: fit-content;
}

.winner {
  background-color: lawngreen;
}

#tiles {
  align-items: center;
  background-color: ghostwhite;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.tile {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 75px;

  &.new {
    aspect-ratio: 2 / 1;
    height: 75px;
    width: calc(150px + 1rem);
  }

  &.marked {
    opacity: 25%;
  }
}

#card {
  align-items: center;
  background-color: mintcream;
  border: 1px solid black;
  border-radius: 3px;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "B I N G O";
  justify-items: center;
  padding: 1rem;
  width: fit-content;
}
